<ion-header>
  <ion-toolbar>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Derechos Reservados.</h2>
  <p>© 2024 SCAN ROSTER. Todos los derechos reservados. La aplicación SCAN ROSTER es una herramienta destinada exclusivamente para la gestión del pase de lista mediante códigos QR. El uso de esta aplicación está sujeto a los términos y condiciones establecidos a continuación. El acceso y uso de la aplicación implica la aceptación de dichos términos.</p>

  <h3>Términos de Uso:</h3>
  <ol>
    <li><strong>Uso de la Aplicación:</strong> SCAN ROSTER es una aplicación diseñada para facilitar el pase de lista mediante el uso de códigos QR. El usuario se compromete a usar la aplicación únicamente para fines legales y conforme a la normativa vigente.</li>
    <li><strong>Propiedad Intelectual:</strong> Todos los contenidos disponibles en SCAN ROSTER, incluyendo pero no limitándose a imágenes, textos, logotipos, gráficos, iconos, y software, son propiedad de SCAN ROSTER. El acceso a la aplicación no otorga derechos sobre dichos contenidos.</li>
    <li><strong>Limitación de Responsabilidad:</strong> SCAN ROSTER no será responsable de ningún daño directo, indirecto, incidental, especial o consecuente que resulte del uso o la imposibilidad de uso de la aplicación, incluso si se ha informado de la posibilidad de dichos daños.</li>
    <li><strong>Exclusión de Garantías:</strong> SCAN ROSTER no garantiza que la aplicación esté libre de errores o interrupciones. El uso de la aplicación es bajo el propio riesgo del usuario.</li>
    <li><strong>Privacidad:</strong> SCAN ROSTER respeta la privacidad del usuario. Sin embargo, el uso de la aplicación está sujeto a las políticas y condiciones generales del dispositivo donde se instale.</li>
    <li><strong>Conducta del Usuario y Uso Apropiado:</strong> El usuario se compromete a utilizar SCAN ROSTER de manera responsable. Queda prohibido el uso de la aplicación para actividades ilegales o que puedan afectar su funcionamiento o el de otros usuarios.</li>
  </ol>

  <h3>Contacto:</h3>
  <p>Si tienes alguna duda o necesitas más información sobre los términos de uso de SCAN ROSTER, por favor, contacta a <a href="mailto:rosterscan@gmail.com">rosterscan@gmail.com</a></p>
</ion-content>